name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Install goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest

      # Одна команда для всего CI
      - name: Run CI tests
        run: make ci-test

      # Логи при ошибке
      - name: Show Docker logs on failure
        if: failure()
        run: docker-compose logs

      # Upload coverage
      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.out
